<main>
  <section class="section-content">
    <div class="container content-container">
      <ul class="content__list" data-modal-open></ul>
    </div>
    <div id="pagination" class="tui-pagination custom-tui-pagination"></div>
    <!-- <p class="end-collection-text is-hidden">
      We're sorry, but you've reached the end of search results.
    </p>
    <p class="error-server is-hidden">
      We are so sorry, but there were some technical problems. Please try
      restarting the page.
    </p> -->
  </section>
</main>
