<header class="section-header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="logo">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <!-- Logo: Tablet and Desktop -->
      <a href="#" class="logo-tablet">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        Filmoteka
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a
            name="home"
            class="nav__link nav__link--current current-home"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link remove-listener"
            name="library"
            href="./library.html"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <div>
      <form class="form-search js-search">
        <label class="form-search__label"
          ><input
            class="form-search__input"
            type="text"
            name="search"
            autocomplete="off"
            placeholder="Movie search"
          />
          <button type="submit" class="btn-submit">
            <svg class="submit-icon" width="17" height="17">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </label>
        <p class="text-hidden is-hidden-text">
          Search result not successful. Enter the correct movie name
        </p>
      </form>
    </div>

    <div class="box-btn-home">
      <button name="trending" class="header-btn-home">Trending</button>
      <button name="top" class="header-btn-home">Top rated</button>
    </div>
  </div>
</header>
