<section class="section-header section-header--library">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="logo">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <!-- Logo: Tablet and Desktop -->
      <a href="./index.html" class="logo-tablet">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        Filmoteka
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a name="home" class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link nav__link--current current"
            name="library"
            href="./library.html"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <div class="box-btn js-box-btn">
      <button name="watched-header" class="header-btn">Watched</button>
      <button name="queue-header" class="header-btn">Queue</button>
    </div>
  </div>
</section>
