.footer {
  //   flex: 0 0 auto;
  //   width: 100%;
  //   bottom: 0;
  //   margin-top: auto;

  background-color: $background-footer;
  padding: 30px 0;

  &-container {
    text-align: center;

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    width: 236px;

    color: $color-grey;

    font-size: 14px;
    line-height: 1.143;

    display: block;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
      width: auto;

      margin: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.188;
    }

    &--span {
      display: block;
      margin-top: 12px;

      @media screen and (min-width: $tablet) {
        display: flex;
        margin-top: 0;
        margin-left: 3px;
      }
    }
  }
}

.box-logo-footer {
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    align-items: center;
    margin-top: 0;
  }
}

.logo-team {
  display: inline-flex;
  align-items: center;

  width: 80px;

  transition: transform $transition;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 100px;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.footer__icon {
  display: inline-flex;
  margin-right: 10px;

  animation: opacityAnim linear 3000ms infinite;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    align-items: center;
    margin: 0 20px;
  }
}

@keyframes opacityAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}
