.section-header--library {
  padding-bottom: 65px;

  background-color: rgba($color: #000000, $alpha: 0.56);
  background-image: url('/src/images/mobile/m-header-library.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/mobile/m-header-library@2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 60px;

    background-color: rgba($color: #000000, $alpha: 0.56);
    background-image: url('/src/images/tablet/t-header-library.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ration: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/tablet/t-header-library@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-color: rgba($color: #000000, $alpha: 0.56);
    background-image: url('/src/images/desktop/d-header-library.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ration: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/desktop/d-header-library@2x.jpg');
    }
  }
}

.box-btn {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}

.header-btn {
  width: 129px;
  height: 44px;

  background-color: transparent;
  color: $color-white;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;

  border: 1px solid $color-white;
  border-radius: 5px;

  cursor: pointer;
}

.js-btn,
.js-btn-header {
  background-color: $color-orange;
  border-color: transparent;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.js-btn-header {
  cursor: auto;
}
