.section-header {
  padding: 40px 0;

  background-color: rgba($color: #000000, $alpha: 0.56);
  background-image: url('/src/images/mobile/m-header-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/mobile/m-header-home@2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 45px;

    background-color: rgba($color: #000000, $alpha: 0.56);
    background-image: url('/src/images/tablet/t-header-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ration: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/tablet/t-header-home@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-color: rgba($color: #000000, $alpha: 0.56);
    background-image: url('/src/images/desktop/d-header-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ration: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/desktop/d-header-home@2x.jpg');
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  font-weight: 500;
  line-height: 1.167;

  margin-bottom: 54px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }

  .logo {
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .logo-tablet {
    @media screen and (max-width: 767px) {
      display: none;
    }

    color: $color-white;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.167;
  }

  &__list {
    display: flex;
    gap: 39px;
    align-items: center;
    padding-top: 4px;
    text-transform: uppercase;
  }

  &__link {
    color: $color-white;
  }

  &__link--current {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      width: 100%;
      height: 3px;
      display: flex;
      background-color: $color-orange;
    }
  }
}

.form-search {
  @media screen and (min-width: $tablet) {
    text-align: center;
  }
}

.form-search__label {
  position: relative;
  display: flex;

  width: 266px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 335px) {
    width: 100%;
    max-width: 280px;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    max-width: 336px;
  }
}

.form-search__input {
  width: 266px;

  font-size: 14px;

  color: $color-white;
  caret-color: $color-orange;
  background-color: transparent;

  padding: 0 7px;
  margin-bottom: 15px;

  outline: none;

  border: none;
  border-bottom: 0.5px solid $color-white;

  transition: all $transition;

  @media screen and (min-width: 335px) {
    width: 100%;
    max-width: 280px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    width: 100%;
    max-width: 336px;
  }

  &::placeholder {
    color: $color-white;

    font-size: 14px;
    line-height: 1.143;
  }
}

input:hover,
input:focus {
  border-bottom: 0.5px solid $color-orange;
}

.btn-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.submit-icon {
  position: absolute;
  top: 1px;
  right: 0px;
}

.text-hidden {
  color: $color-red;

  font-size: 14px;
  line-height: 1.143;
}

.is-hidden-text {
  opacity: 0;
}

.box-btn-home {
  display: flex;
  gap: 20px;
  justify-content: center;

  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}

.header-btn-home {
  width: 129px;
  height: 44px;

  background-color: transparent;
  color: $color-white;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;

  border: 1px solid $color-white;
  border-radius: 5px;

  cursor: pointer;
}

.js-btn-home {
  background-color: $color-orange;
  border-color: transparent;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  cursor: auto;
}
