.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100;

  overflow-y: scroll;
  pointer-events: auto;

  background-color: rgba(0, 0, 0, 0.8);

  transition: scale $transition, opacity $transition;
}

.js-body-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.is-hidden {
  display: none;
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

.modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 20px 0 20px 0;

  width: 280px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  background-color: $background-premier;

  padding: 48px 20px 40px;

  border-radius: 4px;

  overflow-y: auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $tablet) {
    top: 30%;
    transform: translate(-50%, -30%);
    width: 704px;
    padding: 40px 30px 40px 30px;
  }

  @media screen and (min-width: $desktop) {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 806px;
    padding: 40px 30px 40px 0;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;

  border: 0;
  background-color: transparent;

  transition: transform $transition;

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

.modal-info {
  position: relative;
}

.box-wrapper-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}

.content__img--modal {
  display: block;
  width: 240px;
  height: 356px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    width: 264px;
    height: 374px;
    object-fit: contain;
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 396px;
    height: 490px;
  }
}

.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.box-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  gap: 8px 40px;
  grid-auto-flow: row;
  align-items: flex-start;
  grid-template-areas:
    'a a1'
    'b b1'
    'c c1'
    'd d1'
    'e e1';
  justify-content: start;
  align-content: start;
  justify-items: start;
  align-items: start;

  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    gap: 8px 83px;
  }
}

.a {
  grid-area: a;
  width: 70px;
}

.b {
  grid-area: b;
  width: 70px;
}

.c {
  grid-area: c;
  width: 70px;
}

.d {
  grid-area: d;
  width: 70px;
}

.e {
  grid-area: e;
  width: 70px;
}

.a1 {
  grid-area: a1;
}

.b1 {
  grid-area: b1;
}

.c1 {
  grid-area: c1;
}

.d1 {
  grid-area: d1;
}

.e1 {
  grid-area: e1;
}

.title-name {
  color: #8c8c8c;

  min-width: 70px;
}

.title-type {
  &--flex {
    display: flex;
    gap: 7px;
  }

  &--height {
    line-height: 1.167;
  }

  &--upper {
    text-transform: uppercase;
  }
}

.span-color,
.span-nocolor {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 2px 8px;

  border-radius: 5px;
}

.span-color {
  background-color: $color-orange;
  color: $color-white;
}

.span-nocolor {
  background-color: #f7f7f7;
}

.modal__about {
  text-transform: uppercase;

  margin-bottom: 8px;
}

.modal__text {
  line-height: 1.667;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    min-width: 264px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: left;
    gap: 15px;

    margin-bottom: 20px;
  }
}

.modal-box-btn {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    justify-content: left;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: left;
    gap: 15px;

    padding-left: 8px;
  }
}

.modal-btn {
  width: 110px;
  height: 44px;

  font-weight: 500;
  line-height: 1.333;
  text-transform: uppercase;

  background-color: transparent;
  color: $color-black;

  border: 1px solid $color-black;
  border-radius: 5px;

  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 125px;
  }
}

.modal-btn--youtub {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  fill: red;

  text-transform: none;

  @media screen and (min-width: $desktop) {
    margin-left: 8px;
  }
}

.js-btn {
  background-color: $color-orange;
  border-color: transparent;
  color: $color-white;
}

//? Modal Video YouTub

.backdrop-video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  transition: $transition;
  z-index: 2000;
}

.is-hidden-video {
  display: none;
  appearance: none;
  opacity: 0;
  pointer-events: none;

  .video-modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.video-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;

  width: 100%;

  padding: 50px 20px 20px 20px;

  background-color: $color-black;

  transform: translate(-50%, -50%) scale(1);
  overflow: auto;
  transition: transform $transition;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: 568px;
  }

  &__iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    border: none;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.video__btn--close {
  position: absolute;
  top: 10px;
  right: 20px;

  z-index: index 10;

  width: 30px;
  height: 30px;

  cursor: pointer;

  background: none;
  fill: $color-white;
  border: none;
  transition: $transition;
  outline: transparent;
}
