.tui-pagination {
  &.custom-tui-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    height: 40px;
    margin-top: 0;
    margin-top: 40px;

    @media screen and (min-width: $tablet) {
      margin-top: 60px;
    }

    .tui-page-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      border-radius: 5px;
      border: 0;
      color: $color-black;
      min-width: 40px;
      margin-right: 0;
      margin-left: 0;

      &.tui-is-selected {
        background: $color-orange;
        border-left-color: $color-orange;
        border-right-color: $color-orange;
      }

      &.tui-prev,
      &.tui-next {
        background-color: $color-white;
      }
    }

    .tui-is-disabled {
      .tui-ico-prev,
      .tui-ico-next {
        background-position: 0 0;
      }
    }

    .tui-ico-prev,
    .tui-ico-next {
      background: url('../images/arrow.svg') no-repeat 0 0;
      width: 16px;
      height: 16px;
    }

    .tui-ico-prev {
      transform: rotate(180deg);
    }

    strong {
      background: transparent;
    }

    .tui-last,
    .tui-first {
      // display: none;
    }
  }
}
//darkmode
body #pagination {
  .tui-page-btn:hover,
  .tui-page-btn:focus {
    background-color: #9d9c9c38;
    color: $color-white;
  }
  .tui-next,
  .tui-prev {
    background-color: rgba(198, 198, 198, 0.2);
  }
  a {
    color: $color-grey;
  }
  .tui-is-selected {
    font-weight: 900;
  }
}
